#siteicons {
    margin: 2.5vh auto 0 auto;
    max-height: 60vh;
    width: 80vw;
    box-sizing: border-box;
    background-color: var(--layer-1);
    box-shadow: 0 0 8px var(--box-shadows);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* .siteicons-header {
    background-color: #404040;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #555;
} */

.siteicons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    gap: 16px;
    padding: 15px;
    overflow-y: auto;
    flex: 1;
}

.siteicon-container {
    background-color: var(--layer-2);
    border: 2px solid var(--border-4);
    border-radius: 15px;
    padding: 10px;
    height: 135px;
    width: 160px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    margin: 5px;
}

.siteicon {
    width: 40%;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    margin-left: 30%;
}

.siteicon-container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0 4px var(--box-shadows);
}

.sitename {
    margin-top: 10px;
    color: var(--text);
    font-size: 14px;
}

#siteicons a img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.sitename,
.sitename:link,
.sitename:visited {
    text-align: center;
    color: var(--text);
    text-decoration: none !important;
}

/* input {
    padding: 8px;
    border-radius: 5px;
    color: var(--text);
    margin: 8px;
    border: 1px solid var(--border-1);
    font-size: 14px;
    width: 400px;
    transition: 0.2s ease-in-out
}

input:hover {
    background-color: var(--hover-1);
    transition: 0.2s ease-in-out
}

input:focus {
    background-color: var(--hover-1);
    outline: 4px #7d7d7d;
    border: 1px solid var(--hover-border);
    transition: 0.2s ease-in-out
} */