@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

/*definitions for global color config*/

:root {
    --background: #151515;
    --text: #ffffff;
    --box-shadows: #ffffff;
    --inputs: #202020;
    --buttons: #202020;
    --subheadings: #404040;
    --layer-1: #303030;
    --layer-2: #404040;
    --button-border: #ffffff;
    --hover-border: #7d7d7d;
    --border-1: #181818;
    --border-2: #ffffff;
    --border-3: #000000;
    --border-4: #555555;
    --smalltext-1: #707070;
    --sections-border: #333333;
    --sections-hover: #323232;
    --hover-1: #252525;
    --hover-2: #222222;
    --popups: #505050;
    --popups-button: #383838;
    --popups-layer-1: #707070;
    --nav-background: #252525;
    --nav-border: #606060;
    --nav-hover: #303030;
    --search-background: #141414;
    --search-input: #161616;
    --search-button-1: #383838;
    --search-button-2: #303030;
    --search-tab-active: #6d6d6d;
}

/*just stuff that is used everywhere*/

body {
    font-family: Verdana;
    background-color: var(--background);
    color: var(--text);
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 40px;
    position: relative;
    z-index: 10;
}

input {
    background-color: var(--inputs);
}

.subheading {
    text-align: center;
    margin-bottom: 20px;
    color: var(--subheadings);
    z-index: 10;
    position: relative;
}

a:link {
    color: var(--text);
}

a:visited {
    color: var(--text);
}