@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

.iframeWindow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    top: 6em;
    height: 90%;
    border: none;
    background-color: #141414;
    z-index: 1;
}

#searchbox {
    background-color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25em 1em;
    gap: 1em;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 1.5em;
}

#buttons-left,
#buttons-right {
    display: flex;
    gap: 0.75em;
}

#buttons-left {
    margin-right: 10%;
}

#buttons-right {
    margin-left: 10%;
}

#searchButton {
    position: absolute;
    width: 0;
    height: 0;
    border: 0;
    outline: 0;
    color: #141414;
    background-color: white;
    font-size: 0px;
}

#browsertabs {
    display: flex;
    justify-content: left;
    padding: 0.5em 1em;
    gap: 1em;
    width: 100%;
    box-sizing: border-box;
}

#addtab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border: none;
    background-color: #383838;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: -1em;
}

#addtab:hover {
    background-color: #303030;
}

.tabactive,
.tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    background-color: #303030;
    padding: 4px 12px;
    border-radius: 5px;
    width: 160px;
    height: 20px;
    margin: -6px;
    padding: 6px;
    margin-top: -1.75em;
}

.tabs:hover {
    background-color: #363636;
}

.tabactive {
    background-color: #6d6d6d;
}

.tabtitle {
  display: inline-block;
  max-width: 100px;    
  white-space: nowrap;
  overflow: hidden;       
  text-overflow: ellipsis; 
  vertical-align: middle;
}

.closebutton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: -0.18em;
    transition: 0.3s ease-in-out;
}

.closebutton:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    transition: 0.3s ease-in-out;
}

.tab-container {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.15em;
    width: 100%;
    box-sizing: border-box;
}

#sj-frame {
  border: none;
  position: absolute;
  top: 6em;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: #111;
}

#sj-error {
  color: #ff6666 !important;
  white-space: pre-wrap;
}

#sj-error-code {
  font-size: 12px;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}

#sj-register-sw {
  color: white;
  background: #555555;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 16px 20px;
  line-height: 16px;
  display: none;
}

#sj-register-sw:active {
  background: #333333;
}

#sj-register-sw.show {
  display: block;
}

#sj-address {
  flex: 1;
  flex-basis: auto;
  max-width: 50em;
  width: 30em;
  min-width: 10em;
  padding-left: 0.5em;
  height: 1.5em;
  border: 0;
  outline: 0;
  color: white;
  background-color: #161616;
  font-size: 1.2em;
  border-radius: 5px;
}