@media (max-width: 480px) {
  .sections {
    width: 100%;
  }
}

.sections-container {
  padding: 10px;
  background-color: var(--layer-1);
  border: var(--border-2) 1px solid;
  text-align: center;
  border-radius: 6px;
  margin-left: 22.5%;
  margin-right: 22.5%;
  box-sizing: border-box;
  display: inline-block;
  width: 55%;
  box-shadow: 0 0 8px var(--box-shadows);
  z-index: 10;
  position: relative;
}

#buttons-container {
  padding: 10px;
  background-color: var(--layer-1);
  border: var(--button-border) 1px solid;
  text-align: center;
  border-radius: 6px;
  margin-left: 22.5%;
  margin-right: 22.5%;
  box-sizing: border-box;
  display: inline-block;
  width: 55%;
  box-shadow: 0 0 8px var(--box-shadows);
  z-index: 10;
  position: relative;
}

.settings-button {
  width: 100px;
  height: 60px;
  font-size: larger;
}

.settingdesc {
  text-align: left;
  margin-left: 6px;
}

.smalldesc {
  color: var(--smalltext-1);
  font-size: smaller;
}

.right-items {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--sections-border) 1px solid;
  border-top: var(--sections-border)3 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.1s ease-in-out;
}

.sections:hover {
  background-color: var(--sections-hover);
  transition: 0.1s ease-in-out;
}

.center-wrapper {
  display: flex;
  justify-content: center;
}

select {
  border: 1px solid var(--border-1);
  background-color: var(--inputs);
  padding: 8px;
  padding-right: 60px;
  border-radius: 8px;
  color: var(--text);
  font-size: 14px;
  transition: border-color 0.2s ease-in-out;
}

select:hover {
  border: 1px solid var(--hover-border);
  background-color: var(--hover-1);
  transition: border-color 0.2s ease-in-out;
}

button {
  background-color: var(--buttons);
  padding: 8px;
  border-radius: 5px;
  color: var(--text);
  border: 1px solid var(--border-1);
  margin: 8px;
  font-size: 14px;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: var(--hover-1-);
  border: 1px solid var(--hover-border);
  transition: 0.2s ease-in-out;
}

#faviconchooser {
  border: 1px solid var(--border-1);
  background-color: var(--inputs);
  padding: 8px;
  border-radius: 5px;
  color: var(--text);
  margin: 8px;
  font-size: 14px;
}

input {
  padding: 8px;
  border-radius: 5px;
  color: var(--text);
  margin: 8px;
  border: 1px solid var(--border-1);
  font-size: 14px;
  transition: 0.2s ease-in-out
}

input:hover {
  background-color: var(--hover-2);
  transition: 0.2s ease-in-out
}

input:focus {
  background-color: var(--hover-1);
  outline: 4px var(--hover-border);
  border: 1px solid var(--hover-border);
  transition: 0.2s ease-in-out
}

.botselect:hover {
  box-shadow: 0 0 2px var(--box-shadows);
  transition: border-color 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

#datalinkpopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 90px;
  border: 50px;
  border-color: var(--border-3);
  background-color: var(--popups);
  border-radius: 8px;
  box-shadow: 0 0 20px var(--border-3);
  z-index: 1000;
  visibility: hidden;
}

#popuptitle {
  text-align: center;
}

#datalinkcontainer {
  width: 200px !important;
}

#exitbutton {
  width: 50px;
  height: 50px;
  font-size: 25px;
  padding: 5px;
  border: none;
  background-color: var(--popups-layer-1);
  margin: 10px;
  transition: 0.1s ease-in-out;
  color: var(--text);
}

#exitbutton:hover {
  width: 50px;
  height: 50px;
  font-size: 25px;
  padding: 5px;
  border: none;
  background-color: #909090;
  border-radius: 50px;
  transition: 0.1s ease-in-out;
}

#copybutton {
  background-color: var(--popups-button);
  padding: 10px;
  border-radius: 5px;
  color: var(--text);
  margin: 10px;
  border: 0px;
  font-size: 18px;
  transition: border-color 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

#copybutton:hover {
  box-shadow: 0 0 2px var(--box-shadows);
  transition: border-color 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}